<div class="no-questions">
  <img src="/public/images/noquestions.svg" alt="Sem pergunta">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Faça sua primeira pergunta e envie o <br> còdigo dessa sala para outras pessoas!</p>
</div>